/* header part */
.main-header {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    padding: 0px 344px 177px 344px;
}

.small-header {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-top: 233px;
}

.banner1 {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    margin: 50px 290px
}

/* section1 */

.sale {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sale-msg1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.sale-msg2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

.pic1 {
    display: block;
    margin: auto;
}